.countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 40px 0;
}

.search-filter-container {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.search-filter-container > *:first-child {
  width: 30%;
  /* margin-right: 0 auto; */
}

@media screen and (max-width: 768px) {
  .countries {
    display: grid;
    grid-template-columns: 100%;
  }
}
